
<!-- Styles -->
<style>

 #chart {
  width: 100%;
  height: 300px;
}

#chart1 {
  width: 100%;
  height: 500px;
} 

#chart2 {
  width: 100%;
  height: 500px;
} 

.modal-lg {
		max-width: 90%;
	}
	
#chart_dashboardlist {
	  width: 100%;
	  height: 500px;
}

#chart_compare {
 width: 100%;
	  height: 500px;
}

table thead {
	background-color: #00c0e0;
}
table thead tr th {
   font-size: small;
    text-align: center;
}


table tbody tr td {
    font-size: small;
    font-weight: 400;
    text-align: center;
}

.my-card .table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #fff;
}
</style>
       
   <div class="card mb-4"> 
		<!--Card content-->
		<div class="card-body">
		
		
			<div class="row">
			   <div class="col-md-12"> 
			   
			    <div class="row mb-1">
				 	<div class="col-md-2">
						<select class="mdb-select md-form colorful-select dropdown-primary"
						ng-model="dashboard.zone" 
						ng-change="getcirclelist()"
						ng-options="c.ld_name for c in ZONELIST" 
						ng-disabled="CIRCLE_USER || DIVISION_USER || SUBDIVISION_USER || OMSECTION_USER">
						  <option value="">---------SELECT---------</option>
						</select>
						<label><h5><small><strong>Zone</strong></small></h5></label>
				 	</div>
				 	<div class="col-md-2">
				 		<!--Blue select-->
						<select class="mdb-select md-form colorful-select dropdown-primary"
						ng-model="dashboard.circle" 
						ng-change="getdivisionlist()"
						ng-options="c.ld_name for c in CIRCLELIST" 
						ng-disabled="DIVISION_USER || SUBDIVISION_USER || OMSECTION_USER">
						 <option value="">---------SELECT---------</option>
						</select>
						<label><h5><small><strong>Circle</strong></small></h5></label>
						<!--/Blue select-->
				 	</div>
				 	<div class="col-md-2">
				 		<!--Blue select-->
						<select class="mdb-select md-form colorful-select dropdown-primary"
						ng-model="dashboard.division" 
						ng-change="getsubdivisionlist()"
						ng-options="c.ld_name for c in DIVISIONLIST" 
						ng-disabled="SUBDIVISION_USER || OMSECTION_USER">
						  <option value="">---------SELECT---------</option>
						</select>
						<label><h5><small><strong>Division</strong></small></h5></label>
						<!--/Blue select-->
				 	</div>
				 	<div class="col-md-2">
				 		<!--Blue select-->
						<select class="mdb-select md-form colorful-select dropdown-primary" 
						ng-model="dashboard.subdivision" 
						ng-change="getomsectionlist()"
						ng-options="c.ld_name for c in SUBDIVISIONLIST" 
						ng-disabled="OMSECTION_USER">
						  <option value="">---------SELECT---------</option>
						</select>
						<label><h5><small><strong>Sub Division</strong></small></h5></label>
						<!--/Blue select-->
				 	</div>
				 	<div class="col-md-2">
				 		<!--Blue select-->
						<select class="mdb-select md-form colorful-select dropdown-primary" 
						ng-model="dashboard.omsection" 
						ng-options="c.ld_name for c in OMSECTIONLIST" 
						ng-disabled="OMSECTION_USER">
						  <option value="">---------SELECT---------</option>
						</select>
						<label><h5><small><strong>O&M Section</strong></small></h5></label>
						<!--/Blue select-->
				 	</div>
				 </div>
				 
				 <div class="row mb-2">
				 	<div class="col-md-2">
							<h5><small>
								<strong>
									<label for="date-picker-example">From Date</label>
								</strong>
						  		<input placeholder="Selected from date" type="text" id="fromdate" 
						  		class="form-control datepicker" ng-model="dashboard.fromdate" >
						  	</small></h5>
						</div>
						
						<div class="col-md-2">
							<h5><small>
								<strong>
									<label for="date-picker-example">To Date</label>
								</strong>
						  		<input placeholder="Selected to date" type="text" id="todate" 
						  		 class="form-control datepicker" ng-model="dashboard.todate" >
						  	</small></h5>
						</div>
						
						<div class="col-md-4" style="margin-top: 25px;">
							<button class="btn btn-green btn-md waves-effect waves-light" 
									type="submit" ng-click="applyfilter()">Apply Filter</button>

							<button class="btn btn-primary btn-md waves-effect waves-light" 
							type="button" ng-click="resetpage()">Reset</button>
						</div>
				 </div>
						 
				<div class="card border-light mb-3">
					<div class="card-header gray-dark-text h5">Overall Complaints</div>
						 <div class="card-body">
						 	<div class="row">
						 		<!-- <div class="col-md-12"> -->
									<div class="col-md-3">
										<div class="row mb-4 white-text">
											<div class="col-md-12">
												<a ng-click="openmodalanddisplaychart_c3(1)">
								                   <div class="card classic-admin-card primary-color">
								                       <div class="card-body">
								                           <div class="pull-right">
								                               <i class="fa fa-money"></i>
								                           </div>
								                           <p class="white-text" style="font-size: x-large;">Total Complaints</p>
								                           <h3>{{MAINDASHBOARDDETAILS.total}}</h3>
								                       </div>
								                   </div>
												</a>
											</div>
										</div>
										
										<div class="row mb-4 white-text">
											<div class="col-md-12">
												<a ng-click="openmodalanddisplaychart_c3(2)">
								                   <div class="card classic-admin-card warning-color">
								                       <div class="card-body">
								                           <div class="pull-right">
								                               <i class="fa fa-line-chart"></i>
								                           </div>
								                           <p  class="" style="font-size: x-large;">Pending</p>
								                           <h4>{{MAINDASHBOARDDETAILS.pending}}</h4>
								                       </div>
								                   </div>
												</a>
											</div>
										</div>
									</div>
						
									<div class="col-md-3">
										<div class="row mb-4 white-text">
											<div class="col-md-12">
												<a ng-click="openmodalanddisplaychart_c3(3)">
								                   <div class="card classic-admin-card success-color lighten-1">
								                       <div class="card-body">
								                           <div class="pull-right">
								                               <i class="fa fa-pie-chart"></i>
								                           </div>
								                           <p  class="white-text" style="font-size: x-large;">Resolved</p>
								                           <h4>{{MAINDASHBOARDDETAILS.resolved}}</h4>
								                       </div>
								                   </div>
												</a>
											</div>
										</div>
										
										<div class="row mb-4 white-text">
											<div class="col-md-12">
												<a ng-click="openmodalanddisplaychart_c3(4)">
								                   <div class="card classic-admin-card red accent-2">
								                       <div class="card-body">
								                           <div class="pull-right" >
								                               <i class="fa fa-bar-chart"></i>
								                           </div>
								                           <p  class="white-text" style="font-size: x-large;">Rejected</p>
								                           <h4>{{MAINDASHBOARDDETAILS.rejected}}</h4>
								                       </div>
								                   </div>
												</a>
											</div>
										</div>
									</div>	
							
									<div class="col-md-6">
										<div id="chart"></div>
									</div>
										
									<!-- </div> -->
						 		</div>
							</div>
						</div>
					</div>	
				</div>	
				
				<div class="row">
					<div class="col-md-12">
						<div class="card border-light mb-3">
						  <div class="card-header gray-dark-text h5">Category , Sub-Category , Location Wise And Department Wise Complaints</div>
						    <div class="card-body">
						    		<div class="row mb-3">
						    			<div class="col-md-12">
						    				<span style="color: navy;"><h3><u>{{heading_label}}</u></h3></span>
						    			</div>
						    		</div>
							    	<div class="form-row">
							    		<div class="col-md-2">
										<div class="custom-control custom-radio">
										  <input type="radio" class="custom-control-input" id="categorywise" name="materialExampleRadios" 
										   ng-click="render_piechart_categorywise()" checked>
										  <label class="custom-control-label" for="categorywise">Category Wise</label>
										</div>
									</div>	
									<div class="col-md-2">	
										<div class="custom-control custom-radio">
										  <input type="radio" class="custom-control-input" id="locationwise" name="materialExampleRadios" 
										  ng-click="render_piechart_locationwise()">
										  <label class="custom-control-label" for="locationwise">Location Wise</label>
										</div>
			       					</div>
									<div class="col-md-2">	
										<div class="custom-control custom-radio">
										  <input type="radio" class="custom-control-input" id="departmentwise" name="materialExampleRadios" 
										  ng-click="render_piechart_departmentwise()">
										  <label class="custom-control-label" for="departmentwise">Department Wise</label>
										</div>
									</div>	
									<div class="col-md-2">	
										<div class="custom-control custom-radio">
										  <input type="radio" class="custom-control-input" id="complaintmodewise" name="materialExampleRadios" 
										  ng-click="render_piechart_compliantmodewise()">
										  <label class="custom-control-label" for="complaintmodewise">Complaint Mode Wise</label>
										</div>
			       					</div>
						    	 </div>
							   <div id="chart1"></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="card border-light mb-3">
						  <div class="card-header gray-dark-text h5">Comparision Year Wise</div>
						    <div class="card-body">
						    	<div id="chart_compare"></div>
						    </div>
						  </div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="card border-light mb-3">
						  <div class="card-header gray-dark-text h5">Overall Complaints Location Wise Breakup</div>
						    <div class="card-body">
						    	<div class="row">
						    		<div class="col-md-3" ng-repeat="s in LOCATIONSCOMPLAINTSSUMMARY_NEW">
						    			<div class="col-md-12"><h5><span class="badge badge-dark badge-pill">{{s.location_name}}</span></h5></div>
								    	 <div class="card classic-admin-card" style="color:white;background-color: {{s.color}};">
					                       <div class="card-body">
					                           <table class="my-card table table-bordered" style="border-color: white;width:100%">
					                           		<tr style="border-bottom-color: white;">
					                           			<td colspan="2">
						                           			<span class="h5">Total</span>
						                           			<br/>
						                           			<span class="h3 b">{{s.total}}</span>
					                           			</td>
					                           			
					                           		</tr>
					                           		<tr>
					                           			<td colspan="1">
															<span class="h6">Pending</span>
						                           			<br/>
						                           			<span class="h4 b">{{s.pending}}</span>
														</td>
					                           			<td colspan="1">
					                           				<span class="h6">Resolved</span>
						                           			<br/>
						                           			<span class="h4 b">{{s.resolved}}</span></td>
					                           		</tr>
					                           </table>
						                   </div>
						                </div>
								    </div>
						    	</div>
						    </div>
						  </div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="card border-light mb-3">
						  <div class="card-header gray-dark-text h5">Pending Complaints</div>
						    <div class="card-body">
						    	<div class="row" ng-repeat="c in AGEWISE_LOCATIONS">
						    		<div class="col-md-12"><h4><span class="badge badge-dark badge-pill">{{c.location_name}}</span></h4></div>
						    		<div class="col-md-4"><center style="margin-top: 5px;"><h5><span> Count &lt; 8 Days</span><br></h5></center>
						    		<div id="lessthaneight{{c.location_code}}" style="margin-top: -50px;"></div></div>
						    		<div class="col-md-4"><center style="margin-top: 5px;"><h5><span> Count 8 - 30 Days</span><br></h5></center>
						    		<div id="eighttothirty{{c.location_code}}" style="margin-top: -50px;"></div></div>
						    		<div class="col-md-4"><center style="margin-top: 5px;"><h5><span> Count &gt; 30 Days</span><br></h5></center>
						    		<div id="thirtyabove{{c.location_code}}" style="margin-top: -50px;"></div></div>
							    	<hr/>
						    	</div>
						    </div>
						  </div>
					</div>
				</div>	
				
				<div class="row">
					<div class="col-md-12">
						<div class="card border-light mb-3">
						  <div class="card-header gray-dark-text h4">Resolution Status</div>
						    <div class="card-body">
						    	<div class="row">
						    		<div class="col-md-6" ng-repeat="c in RESOLUTION_LOCATIONS">
						    			<center style="margin-top: 5px;"><h5><span> {{c.group_name}}</span><br></h5></center>
						    		<div id="resolutionstatus_chart{{c.group_code}}"></div></div>
							    	<hr/>
						    	</div>
						    </div>
						  </div>
					</div>
				</div>		    
				
				
 			</div>
 		</div>
 
		<div class="modal fade" id="dashboarddetaillist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	    <!-- Change class .modal-sm to change the size of the modal -->
	    <div class="modal-dialog modal-lg" role="document">
	
	
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title w-100" id="myModalLabel">{{modal_heading}}</h4>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>
	        <div class="modal-body">
	        
	        <div class="row">
	        	<div class="col-md-6">
	        			<table class="table table-bordered table-sm ">
					  <thead>
					    <tr>
					      <th scope="col">Month Year</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'total' || dashboardlisttype === 'pending')">Pending</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'resolved')">Resolved</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'resolved')">Closed</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'resolved' || dashboardlisttype === 'total')">Resolved</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'total' || dashboardlisttype === 'rejected')">Rejected</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'pending')">Open</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'pending')">Assigned</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'pending')">In-Progress</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'pending')">Re-Opened</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'pending')">Escalated</th>
					      <th scope="col" ng-show="(dashboardlisttype === 'total')">Total</th>
					    </tr>
					  </thead>
					  <tbody>
					  		<tr ng-repeat="s in DASHBOARDCOMPLAINTLIST">
					  			<td>{{s.monthyear}}</td>
					  			<td ng-show="(dashboardlisttype === 'total' || dashboardlisttype === 'pending')">{{s.pending}}</td>
					  			<td ng-show="(dashboardlisttype === 'resolved')">{{s.resolved}}</td>
					  			<td ng-show="(dashboardlisttype === 'resolved')">{{s.closed}}</td>
					  			<td ng-show="(dashboardlisttype === 'resolved' || dashboardlisttype === 'total')">{{s.resolvedtotal}}</td>
					  			<td ng-show="(dashboardlisttype === 'total' || dashboardlisttype === 'rejected')">{{s.rejected}}</td>
					  			<td ng-show="(dashboardlisttype === 'pending')">{{s.open}}</td>
					  			<td ng-show="(dashboardlisttype === 'pending')">{{s.assigned}}</td>
					  			<td ng-show="(dashboardlisttype === 'pending')">{{s.inprogress}}</td>
					  			<td ng-show="(dashboardlisttype === 'pending')">{{s.reopened}}</td>
					  			<td ng-show="(dashboardlisttype === 'pending')">{{s.escalated}}</td>
					  			<td ng-show="(dashboardlisttype === 'total')">{{s.total}}</td>
					  		</tr>
					  </tbody>
				</table>
	        	</div>
	        	<div class="col-md-6">
	        		<div id="chart_dashboardlist"></div>
	        	</div>
	        	
	        </div>
	        
	        
				
			
	        </div>
	      </div>
	    </div>
	  </div>
 
 <script type="text/javascript">
//Material Select Initialization
 $(document).ready(function() {
  $('.mdb-select').materialSelect();
 });
 
//Data Picker Initialization
$('.datepicker').pickadate({
	format: 'dd/mm/yyyy',
	formatSubmit: 'dd/mm/yyyy'
});
 </script>