<div class="content-wrapper"  ng-show="!IsLogin">
           <!--  <div class="content-heading" >Widgets</div> -->
            <!-- START row-->
            <!-- END row-->
            <!-- START row-->
            <!-- END row-->
            <!-- START row-->
            
            
            <div class="row">
               <div class="col-xl-4 col-lg-6">
                  <!-- START card-->
                  <div class="card bg-success-dark border-0">
                     <div class="row align-items-center mx-0">
                        <div class="col-4 text-center">
                           <em class="icon-share fa-3x"></em>
                        </div>
                        <div class="col-8 py-4 bg-success rounded-right">
                           <div class="h1 m-0 text-bold">150</div>
                           <div class="text-uppercase">New connections</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-6">
                  <!-- START card-->
                  <div class="card bg-danger-dark border-0">
                     <div class="row align-items-center mx-0">
                        <div class="col-4 text-center">
                           <em class="icon-star fa-3x"></em>
                        </div>
                        <div class="col-8 py-4 bg-danger rounded-right">
                           <div class="h1 m-0 text-bold">7000</div>
                           <div class="text-uppercase">Ratings received</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-12">
                  <!-- START card-->
                  <div class="card bg-warning-dark border-0">
                     <div class="row align-items-center mx-0">
                        <div class="col-4 text-center">
                           <em class="icon-trophy fa-3x"></em>
                        </div>
                        <div class="col-8 py-4 bg-warning rounded-right">
                           <div class="h1 m-0 text-bold">10</div>
                           <div class="text-uppercase">Achievements</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END row-->
            <!-- START row-->
            <!-- END row-->
            <!-- START row-->
            <div class="row">
               <div class="col-xl-3">
                  <!-- START card-->
                  <div class="card border-0">
                     <div class="row row-flush">
                        <div class="col-4 bg-info text-center d-flex align-items-center justify-content-center rounded-left">
                           <em class="fa fa-users fa-2x"></em>
                        </div>
                        <div class="col-8">
                           <div class="card-body text-center">
                              <h4 class="mt-0">10k</h4>
                              <p class="mb-0 text-muted">VISITORS</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- END card-->
               </div>
               <div class="col-xl-3">
                  <!-- START card-->
                  <div class="card border-0">
                     <div class="row row-flush">
                        <div class="col-4 bg-danger text-center d-flex align-items-center justify-content-center rounded-left">
                           <em class="fa fa-music fa-2x"></em>
                        </div>
                        <div class="col-8">
                           <div class="card-body text-center">
                              <h4 class="mt-0">100%</h4>
                              <p class="mb-0 text-muted">VOLUME</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- END card-->
               </div>
               <div class="col-xl-3">
                  <!-- START card-->
                  <div class="card border-0">
                     <div class="row row-flush">
                        <div class="col-4 bg-inverse text-center d-flex align-items-center justify-content-center rounded-left">
                           <em class="fas fa-code-branch fa-2x"></em>
                        </div>
                        <div class="col-8">
                           <div class="card-body text-center">
                              <h4 class="mt-0">150</h4>
                              <p class="mb-0 text-muted">FORKS</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- END card-->
               </div>
               <div class="col-xl-3">
                  <!-- START card-->
                  <div class="card border-0">
                     <div class="row row-flush">
                        <div class="col-4 bg-green text-center d-flex align-items-center justify-content-center rounded-left">
                           <em class="fa fa-inbox fa-2x"></em>
                        </div>
                        <div class="col-8">
                           <div class="card-body text-center">
                              <h4 class="mt-0">10</h4>
                              <p class="mb-0 text-muted">NEW MESSAGES</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- END card-->
               </div>
            </div>
            <!-- END row-->
            <!-- START row-->
            <!-- END row-->
            <!-- START row-->
            <!-- END row-->
            <!-- START row-->
            <div class="row">
               <div class="col-xl-3 col-lg-6">
                  <!-- START card-->
                  <div class="card bg-primary border-0">
                     <div class="card-header">
                        <div class="row align-items-center">
                           <div class="col-3">
                              <em class="fa fa-comments fa-5x"></em>
                           </div>
                           <div class="col-9 text-right">
                              <div class="text-lg">26</div>
                              <p class="m-0">New Comments!</p>
                           </div>
                        </div>
                     </div>
                     <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                        <span>View Details</span>
                        <span class="ml-auto">
                           <em class="fa fa-chevron-circle-right"></em>
                        </span>
                     </a>
                     <!-- END card-->
                  </div>
               </div>
               <div class="col-xl-3 col-lg-6">
                  <!-- START card-->
                  <div class="card bg-green border-0">
                     <div class="card-header">
                        <div class="row align-items-center">
                           <div class="col-3">
                              <em class="fa fa-tasks fa-5x"></em>
                           </div>
                           <div class="col-9 text-right">
                              <div class="text-lg">12</div>
                              <p class="m-0">New Tasks!</p>
                           </div>
                        </div>
                     </div>
                     <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                        <span>View Details</span>
                        <span class="ml-auto">
                           <em class="fa fa-chevron-circle-right"></em>
                        </span>
                     </a>
                  </div>
                  <!-- END card-->
               </div>
               <div class="col-xl-3 col-lg-6">
                  <!-- START card-->
                  <div class="card bg-warning border-0">
                     <div class="card-header">
                        <div class="row align-items-center">
                           <div class="col-3">
                              <em class="fa fa-shopping-cart fa-5x"></em>
                           </div>
                           <div class="col-9 text-right">
                              <div class="text-lg">124</div>
                              <p class="m-0">New Orders!</p>
                           </div>
                        </div>
                     </div>
                     <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                        <span>View Details</span>
                        <span class="ml-auto">
                           <em class="fa fa-chevron-circle-right"></em>
                        </span>
                     </a>
                  </div>
                  <!-- END card-->
               </div>
               <div class="col-xl-3 col-lg-6">
                  <!-- START card-->
                  <div class="card bg-danger border-0">
                     <div class="card-header">
                        <div class="row align-items-center">
                           <div class="col-3">
                              <em class="far fa-life-ring fa-5x"></em>
                           </div>
                           <div class="col-9 text-right">
                              <div class="text-lg">13</div>
                              <p class="m-0">Support Tickets!</p>
                           </div>
                        </div>
                     </div>
                     <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                        <span>View Details</span>
                        <span class="ml-auto">
                           <em class="fa fa-chevron-circle-right"></em>
                        </span>
                     </a>
                  </div>
                  <!-- END card-->
               </div>
            </div>
            <!-- END row-->
            <!-- START card tab-->
            <!-- END card tab-->
         </div>
         
         
      