<style type="text/css">

.jumbotron {
    padding: 1rem;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 15px;
    margin-left: 15px;
    width: 100%;
}
</style>

<div class="jumbotron jumbotron-fluid">
<!--   <div class="container"> -->
    <div class="row">
		<div class="col-md-4">
			<button class="btn btn-info btn-sm waves-effect waves-light text-center" type="button" ng-click = "addCadre()">
		  		<i class="fa fa-plus"></i> &nbsp;&nbsp;&nbsp;Add Cadre
			</button>
		</div>  
  </div>
  <div class="row">
  	<div class="col-md-10">
  	  <table id="dtBasicExample" class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
  <thead>
    <tr>
   	  <th class="th-sm font-weight-bold default-color-dark text-white" width="10%">#</th>
      <th class="th-sm font-weight-bold default-color-dark text-white" width="10%">Cadre Id
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm font-weight-bold default-color-dark text-white" width="45%">Cadre Name
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
       <th class="th-sm font-weight-bold default-color-dark text-white" width="10%">Created By
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
       <th class="th-sm font-weight-bold default-color-dark text-white" width="25%">Created On
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>
  <tbody>	
  		<tr ng-repeat="d in CadreList | orderBy:'cdrName'">
  			<td>{{$index+1}}</td>
  			<td>{{d.cdrId}}</td>
  			<td><a href="" ng-click="editCadre(d);" class="text-primary">{{d.cdrName}}</u></a></td>
  			<td>{{d.cdrCreatedBy}}</td>
  			<td>{{d.cdrCreatedOn}}</td>
  		</tr>
  </tbody>
</table>
  	</div>
  </div>

<!--   </div> -->
</div>