<style type="text/css">

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #02c19e;
}

a, a.disabled:hover, a:disabled:hover {
    color: #00695c;
}

</style>

<div>
	<!-- Heading -->
	<div class="card mb-2 wow fadeIn">
		<!--Card content-->
		<div class="card-body d-sm-flex justify-content-between">
			<!-- <div class="mr-auto pl-2">
				<span class="d-none d-md-inline-block"> Management 
					<a id="navbar-category-bundle-jquery" class="btn btn-indigo btn-md my-0 waves-effect waves-light"
						href="/" role="button" ui-sref="config.designation">  
						<span class="d-none d-lg-inline-block mr-1">Designation</span> <i class="fa fa-users"></i>
					</a>
				</span>
			</div> -->
			<ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
			
			 <li class="nav-item">
			    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="" role="tab"
			      aria-controls="pills-home" aria-selected="true" ui-sref="config.department">
			      <i class="fa fa-users"></i>&nbsp;&nbsp;Department </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="" role="tab"
			      aria-controls="pills-home" aria-selected="true" ui-sref="config.cadre">
			      <i class="fa fa-users"></i>&nbsp;&nbsp;Cadre </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="" role="tab"
			      aria-controls="pills-home" aria-selected="true" ui-sref="config.designation">
			      <i class="fa fa-users"></i>&nbsp;&nbsp;Designation </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="" role="tab"
			      aria-controls="pills-profile" aria-selected="true" ui-sref="config.station">
			       <i class="fa fa-users"></i>&nbsp;&nbsp;Station </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="" role="tab"
			      aria-controls="pills-profile" aria-selected="true" ui-sref="config.feeder">
 					<i class="fa fa-users"></i>&nbsp;&nbsp;Feeder </a>
			  </li>
			   <li class="nav-item">
			    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="" role="tab"
			      aria-controls="pills-profile" aria-selected="true" ui-sref="config.category">
 					<i class="fa fa-users"></i>&nbsp;&nbsp;Category </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="" role="tab"
			      aria-controls="pills-profile" aria-selected="true" ui-sref="config.subcategory">
 					<i class="fa fa-users"></i>&nbsp;&nbsp;Sub Category </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="" role="tab"
			      aria-controls="pills-profile" aria-selected="true" ui-sref="config.complaintmode">
 					<i class="fa fa-users"></i>&nbsp;&nbsp;Complaint Mode </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="" role="tab"
			      aria-controls="pills-profile" aria-selected="true" ui-sref="config.users">
 					<i class="fa fa-users"></i>&nbsp;&nbsp;Users </a>
			  </li>
			</ul>
		</div>
	</div>
</div>

