<style type="text/css">

.jumbotron {
    padding: 1rem;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 15px;
    margin-left: 15px;
    width: 100%;
}

table tbody tr td {
	font-weight: 400;
    font-size: medium;
}
</style>

<div class="jumbotron jumbotron-fluid">
  <!--   <div class="container"> -->
    <div class="row">
		<div class="col-md-4">
			<button class="btn btn-info btn-md waves-effect waves-light text-center" type="button" ng-click = "addSubCategory()">
		  		<i class="fa fa-plus"></i> &nbsp;&nbsp;&nbsp;Add Sub-Category
			</button>
		</div>  
  </div>
  <div class="row">
  	<div class="col-md-12">
  	  <table id="dtBasicExample" class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
  <thead>
    <tr>
   	  <th class="th-sm font-weight-bold default-color-dark text-white" width="5%">#</th>
      <th class="th-sm font-weight-bold default-color-dark text-white" width="35%">SubCategory Name
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm font-weight-bold default-color-dark text-white" width="20%">Department Name
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm font-weight-bold default-color-dark text-white" width="20%">Category Name
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm font-weight-bold default-color-dark text-white" width="10%">Priority
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
       <th class="th-sm font-weight-bold default-color-dark text-white" width="10%">Status
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>
  <tbody>	
  		<tr ng-repeat="d in SubCategoryList | orderBy:'subcategoryname'">
  			<td>{{$index+1}}</td>
  			<td><a href="" ng-click="editSubCategory(d);" class="text-primary">{{d.subcategoryname}}</u></a></td>
  			<td>{{d.departmentid}}</td>
  			<td>{{d.categoryid}}</td>
  			<td>{{d.priorityid}}</td>
  			<td>{{d.status}}</td>
  		</tr>
  </tbody>
</table>
  	</div>
  </div>

<!--   </div> -->
</div>